<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212562935234-c3vf7lgop1fgcnk2ehc65gctgrkgdf3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212562935234-c3vf7lgop1fgcnk2ehc65gctgrkgdf3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCX-mTMWtdgB4EmMEysxzAMp5Ozuq-JKX4</string>
	<key>GCM_SENDER_ID</key>
	<string>212562935234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flimmerkiste</string>
	<key>PROJECT_ID</key>
	<string>flimmerkiste-396c9</string>
	<key>STORAGE_BUCKET</key>
	<string>flimmerkiste-396c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212562935234:ios:4cf455b204f5b3de53aa5b</string>
</dict>
</plist>